<!DOCTYPE html>
<html lang="en" class="h-100">
    <head>
        {% include head.html %}
    </head>
    <body class="d-flex flex-column h-100">
        <div id="skip-to-content" class="visually-hidden-focusable"><a href="#maincontent">Skip to main content</a></div>
        {% include header.html %}
        <main id="maincontent" role="main" aria-label="Content" class="flex-shrink-0"></main>
            <div class="container mx-9 my-3">
                {% if page.title %}<h2 style="text-align: left;"><b>{{ page.title }}</b></h2>{% endif %}

                <!-- Assign date of last update with proper formatting -->
                {% if page.date %}
                {% assign day = page.date | date: "%-d" %}
                {% assign month = page.date | date: "%B" %}
                {% assign year = page.date | date: "%Y" %}
                {% case day %}
                    {% when "1" or "21" or "31" %}{% assign suffix = "st" %}
                    {% when "2" or "22" %}{% assign suffix = "nd" %}
                    {% when "3" or "23" %}{% assign suffix = "rd" %}
                    {% else %}{% assign suffix = "th" %}
                {% endcase %}
                {% assign formatted_day = day | append: suffix %}
                <h5 style="text-align: left;"><b>Posted on {{ formatted_day }} {{ month }} {{ year }}</b></h5>
                {% endif %}

                <hr>
                {{ content }}
            </div>
        </main>
        {% include footer.html %}
        {% include foot.html %}
    </body>
</html>